body {
	background-color: gray; 
}

.container {

	margin-top: 20px;
}

#header {
	background-image: url(../img/bg_header.png);
	background-repeat: no-repeat;
	height: 129px;

}

img.guy {

position: relative;
	left: 280px;

}

#nav {
	background-color: #868686;
}

#contact {
	background-color: #FFF;
	overflow: hidden;
}

.call {
	background-color: blue;
	float: left;
}


.middle {
	background-color: yellow;
	float: left;
}

.chat {
	
}

.schedule {

}

.email {
	background-color: red;
	float: float;
}

.social {
	background-image: url(../img/bg_social.png);
	background-repeat: no-repeat;
	height:42px;
}

.social h3 {

	float: right;
}

a.close {
	background: url(../img/btn_close.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	float: right;
	position: relative;
	right: 20px;
	top: 83px;
}

a.close:hover {
	background-position: 0 -30px;
}


#contact h2 {

	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #565656;
	font-size: 18px;
}








